.burgerButton {
  border: none;
  background-color: transparent;
  padding-left: 0;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.close {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
