.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--borderColor);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
