.container {
  position: relative;
  width: 500px;
}

.title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.title:hover::after,
.title:focus:after {
  content: attr(data-full-text);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: normal;
  word-wrap: break-word;
  z-index: 10;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
