.button {
  display: flex;
  gap: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconContainer {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.text {
  color: var(--green);
}

.title {
  color: black;
}
