.container {
  display: flex;
}
.orderGrup {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.orderContainer {
  border: 2px solid var(--borderColor);
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 30px;
  gap: 30px;
  border-radius: 10px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--text);

  max-width: 300px;
  @media screen and (min-width: 1480px) {
    max-width: 500px;
  }
}

.title:hover::after,
.title:focus:after {
  content: attr(data-full-text);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  white-space: normal;
  word-wrap: break-word;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 17px;
  color: var(--textSecond);
}

.textSpan {
  font-weight: 900;
  color: var(--text);
}

.textDate {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--textSecond);
}

.textDateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonList {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  background-color: transparent;
}

.textMany {
  display: flex;
  flex-direction: column;
}
